/* --- BASE --- */
body {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: 'Slabo 27px', serif;
    color: #eee;
    background-image: url(../images/bg.jpg);
}

h1 {
    text-align: center;
}

h2 {
    margin: 20px 0 -10px 0;
    text-align: center;
}

p {
    
}

a {
    
}

a:hover {
    
}

/* --- PANELS --- */
.chicken-panel, .upgrade-panel {
    width: 20%;
    height: 100vh;
    padding: 10px;
}

.chicken-panel {
    margin-right: 20px;
    background-image: url(../images/bg2.png);
    background-size: contain;
}
.upgrade-panel {
    display: flex;
    justify-content: flex-end;
    padding-top: 150px;
    padding-right: 0;
    margin-left: 20px;
    background-image: url(../images/bg2_1.png);
    background-size: contain;
}

.center-panel {
    width: 60%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.graphics-panel {
    height: 100vh;
}

.resume {
    display: flex;
    height: 80px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}


/* --- AFFICHAGE DES SCORES --- */
#affichage-score {
    width: 75%;
    height: 30px;
    margin: 0 auto;
    padding: 4px;
    line-height: 30px;
    font-size: 30px;
    background-color: #342;
    border: 3px solid #564;
    text-align: center;
}


/* --- BUTTONS --- */
#boutton {
    width: 200px;
    height: 291px;
    margin: 100px auto;
    background-size: 100%;
    cursor: pointer;
    background-image: url(../images/poule.png);
}

#multiplicateur {
    
    display: block;
    width: 300px;
    height: 64px;
    font-size: 24px;
    text-align: center;
    line-height: 64px;
    background-image: url(../images/bg-upgrade.jpg);
    background-size: contain;
    color: #333;
    cursor: pointer;
}